*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin:80px auto 80px auto;
    /* border: 2px solid black; */
}
@font-face {
    font-family: myfont1;
    src: url(./font/static/StackSansHeadline-Bold.ttf);
}
@font-face {
    font-family: light;
    src: url(./font/static/StackSansHeadline-Light.ttf);
}

.container{
   /* border: 2px solid red; */
   max-width: 90%;
   display: grid;
   grid-template-columns: repeat(4,1fr);
   grid-template-rows: auto auto;
   margin-top: 250px;
}
.box{
    /* border: 2px solid black; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 8px;
    margin: 10px;
}
.sub_box{
    /* border: solid green; */
    margin: 20px;
}
.box1{
  grid-column: 1/3;
    background-color: rgb(162, 78, 201);
    background-image: url(./images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top 2px  right 80px;
    background-size: 100px; 
    right: 90px;
}
.heading_icon{
    /* border: 2px solid black; */
    display: flex;
    
   
}
.heading_icon img{
    border-radius:40px;
    width: 40px;
   
    background-color: white;
    border: 1px solid white;
  
}
.heading{
    /* border: solid black; */
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    margin-left: 15px;
}
.name{
    font-size: 18px;
    color: rgb(230,230,230);
    font-weight: 500;
    font-family: light;
}
.tag{
    font-size: 12px;
    color: rgb(230,230,230);
    opacity: 0.8;
    font-family: light;
}
.para_box{
    /* border: solid white; */
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.para_box span{
    font-size: 20px;
    color: rgb(230,230,230);
    font-family: myfont1;
}
.para_box p{
     font-size: 15px;
    color: rgb(230,230,230);
    line-height: 1.3;
    font-family: light;
}
.box2{
    background-color: rgba(79, 67, 67, 0.637);

}
.box3{
    background-color: rgb(255, 254, 255);
    grid-column: 4/5;
    grid-row: 1/3;
}
.kirapara_box{
    /* border: 2px solid rgb(220, 31, 31); */
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.kiraname{
    font-size: 18px;
    color: rgb(71, 52, 52);
    font-weight: 500;
    font-family: light;
}
.kiratag{
    font-size: 12px;
    color: rgb(71, 52, 52);
    opacity: 0.8;
    font-family: light;
}
.kirapara_box span{
    font-size: 20px;
    color: rgb(41, 34, 34);
    font-family: myfont1;
}
.kirapara_box p{
     font-size: 15px;
    color: rgb(41, 34, 34);
    line-height: 1.3;
    font-family: light;
}
.box4{
    background-color: rgb(255, 255, 255);

}
.box5{
    background-color: rgb(71, 64, 93);
    grid-column-start: 2;
    grid-column-end: 4;

}
@media (max-width: 912px) {
  .container {
    max-width: 90%;
    grid-template-columns: 1fr;
    margin-top: 600px;
  }
  .box1, .box2, .box3, .box4, .box5 {
    grid-column: 1 / 2;
    grid-row: auto;
  }
}